#text-input {
    width: 90%;
}

#translate-iframe {
    width: 100%;
    height: 500px;
}

.output-row {
    font-size: 32px;
}

.wordreading {
    margin-right: 5px;
    margin-left: 5px;
}

.word {
    border-bottom: 3px solid black;
}

.reading {
    font-size: 10px;
}

.reading:hover {
    color: red;
}

.reading-list {
    list-style-type: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.reading-list li:nth-of-type(2):not(:last-child):after {
    content: '...';
}

.reading-list li:nth-of-type(1n+3) {
    display: none;
}

.wordreading:hover .reading-list li:nth-of-type(1n+3) {
    display: block;
}

.wordreading:hover .reading-list li:nth-of-type(2):after {
    content: '';
}

.word-trad {
    font-size: 28px;
}

.word-simp {
    font-size: 28px;
    color: #777;
}

#external-links {
    padding-bottom: 20px;
}

#external-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#external-links li {
    float: left;
}

#external-links li:after {
    content: ' ';
}

#mouseover-definition {
    font-size: 80%;
    position: fixed;
    z-index: 10;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid black;
    width: 500px;
}

.mouseover-columns {
    columns: 2;
    column-gap: 10px;
}

.definition-columns {
    columns: 3;
    column-gap: 20px;
}

.clickable {
    cursor: pointer;
}

.order {
    color: red;
}

.info {
    color: gray;
}

.hide {
    display: none;
}
