#text-input {
    width: 90%;
}

.output-row {
    font-size: 32px;
}

.wordreading {
    margin-right: 5px;
    margin-left: 5px;
}

.word {
    border-bottom: 3px solid black;
}

.reading {
    font-size: 10px;
}

.reading:after {
    content: "/";
}

.reading:last-child:after {
    content: '';
}

.word-trad {
    font-size: 28px;
}

/* .word-simp { */
/*     color: gray; */
/* } */

.reading-mandarin {
    color: gray;
}

#external-links {
    padding-bottom: 20px;
}

#external-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#external-links li {
    float: left;
}

#external-links li:after {
    content: ' ';
}
